* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}

/*COMEÇO DO MOBILE*/

.overlay-menu {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

.btn-abrir-menu {
  color: #00ff08;
  font-size: 40px;
  position: fixed;
  top: 17px;
  right: 25px;
  display: none;
  z-index: 99999;
}

.menu-mobile {
  background-color: #000;
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.3s;
}

.menu-mobile nav ul {
  text-align: right;
}

.item-mobile {
  font-size: 17px;
  font-weight: 300;
  padding: 15px 8%;
  list-style-type: none;
  border-radius: 20px;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  margin: 0;
  color: #00ff08;
  font-size: 40px;
}

.item-mobile a {
  padding: 8px 0 8px 0;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.item-mobile:hover {
  background-color: #00ff08;
}
.item-mobile:hover a {
  color: #000;
}

/*FIM DO MOBILE*/

/*COMEÇO DA NAV*/
html {
  scroll-behavior: smooth;
}

.nav-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  list-style-type: none;
  gap: 6vw;
  margin-top: 55px;
  margin-left: 100px;
}

.nav-menu .menu a {
  color: grey;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-menu .menu a:hover {
  color: #fff;
  transform: scale(1.05);
}

.button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  background-color: #00ff08;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 19px;
  bottom: 10px;
  left: 250px;
  width: 150px;
}

.button a {
  text-decoration: none;
  background-color: #00ff08;
  color: black;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/*FIM DA NAV*/

/*COMEÇO DO MAIN*/
.container-main .flex {
  max-width: 1900px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 80px 0;
  margin: 140px 0;
}

.text-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 150px;
}

.container-main h1 {
  font-size: 49px;
  color: white;
  line-height: 46px;
  margin: 0;
}

.container-main h2 {
  font-size: 18px;
  color: rgb(216, 216, 216);
  margin: 30px 0;
}

.container-button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00ff08;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 19px;
  max-width: 220px;
}

.container-button a {
  text-decoration: none;
  color: black;
  background-color: #00ff08;
}

.container-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container-imagem {
  margin-right: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  padding: 20px;
  border-radius: 100%;
}

.container-imagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 60%;
  margin: 0;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/*FIM DO MAIN*/

/*COMEÇO DO STACK*/
.container-stack {
  margin: 180px 0 0 0;
}

#stack h1#stack {
  display: flex;
  font-size: 42px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1;
}

#stack h1 span {
  color: #00ff08;
  margin-left: 10px;
}
/*FIM DO STACK*/

/*COMEÇO DOS CONTAINERS DE DESENVOLVIMENTO*/
.container-conteudo {
  display: flex;
  gap: 70px;
  padding: 20px;
  margin-top: 140px;
  flex-wrap: wrap;
}

.container-csharp,
.container-sql,
.container-git,
.container-vue {
  flex: 1;
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.container-csharp:hover,
.container-sql:hover,
.container-git:hover,
.container-vue:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #ffffff9a;
}

.container-csharp img {
  width: 100%;
  width: 220px;
  display: block;
  margin-left: 80px;
  padding-top: 10px;
}

.container-sql img {
  width: 100%;
  width: 260px;
  display: block;
  margin-left: 55px;
  margin-top: 40px;
}

.container-git img {
  width: 100%;
  width: 230px;
  display: block;
  margin-left: 70px;
  margin-top: 40px;
  padding-top: 20px;
}

.container-vue img {
  width: 100%;
  width: 350px;
  display: block;
  margin-left: 20px;
  margin-top: 80px;
  padding-bottom: 50px;
}

.container-csharp p,
.container-sql p,
.container-git p,
.container-vue {
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
/*FIM DOS CONTAINERS DE DESENVOLVIMENTO*/

/*COMEÇO DO SOBRE MIM*/
section.sobre {
  margin-top: 250px;
  padding: 40px;
}

section.sobre .flex {
  display: flex;
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.sobre .txt-sobre h2 {
  font-size: 50px;
  line-height: 1;
  margin: 0 0 60px 100px;
  color: white;
}

.sobre .txt-sobre h2 span {
  color: #00ff08;
  display: block;
}

.sobre .txt-sobre .container-p p {
  margin: 0 0 20px 100px;
  color: #fff;
}

.sobre .txt-sobre .container-p {
  margin-bottom: 80px;
}

.img-sobre img {
  max-width: 100%;
  width: 950px;
  border-radius: 30px;
  margin: 0 0 100px 90px;
}

.btn-social {
  display: flex;
  gap: 0px;
  margin: 60px 0 0 30px;
}

.btn-social img {
  width: 200px;
  height: auto;
  transition: 0.2s;
}

.btn-social img:hover {
  transform: scale(1.1);
}
/*FIM DO SOBRE MIM*/

/*COMEÇO DO FORMS*/
.formulario .interface {
  margin-top: 240px;
  margin-bottom: 150px;
}

.interface .container-titulo .titulo {
  position: relative;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  color: white;
}

.formulario .interface span {
  color: #00ff08;
  margin-left: 10px;
}

section.formulario {
  margin: 0;
  padding: 30px 4%;
  position: relative;
}

form {
  max-width: 500px;
  border-radius: 30px;
  background: rgba(34, 34, 34, 0.986);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid rgba(34, 34, 34, 0.986);
}

form input,
textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

.btn-enviar input {
  width: 120px;
  background: #00ff08;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar input:hover {
  transform: scale(1.1);
}
/*FIM DO FORMS*/

/*COMEÇO DO RODAPÉ*/
footer {
  background-color: #000;
  color: #fff;
  padding: 50px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  text-align: center;
  position: relative;
  z-index: 10;
}

.footer-content {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer .container-footer p {
  margin: 0;
}

.container-email {
  margin: 30px 0 30px 0;
  justify-content: center;
  text-align: center;
  display: flex;
}

.container-email a {
  color: white;
  text-decoration: none;
}

.container-email img {
  width: 40px;
  position: relative;
  top: 9px;
}

.footer-back-to-top {
  margin-top: 20px;
  margin: 0;
}

.footer-back-to-top a {
  color: #00ff08;
  text-decoration: none;
  font-weight: bold;
}

.footer-content span {
  color: #00ff08;
}
/*FIM DO RODAPÉ*/

@media screen and (min-width: 360px) and (max-width: 430px) {
  /*CABEÇALHO*/
  .nav-menu,
  button {
    display: none;
  }

  .btn-abrir-menu {
    display: block;
  }

  /*CLASSES GERAIS*/
  .flex {
    flex-direction: column;
  }

  /*COMEÇO DA MAIN*/
  .container-main .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
    margin: 50px 0;
    padding: 0;
  }

  .text-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    margin: 0;
  }

  .container-imagem {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 70vw;
  }

  .container-main h1 {
    font-size: 25px;
    line-height: 22px;
    bottom: 20px;
    width: 500px;
  }

  .container-main h2 {
    width: 360px;
    margin: 5px;
    font-size: 16px;
    line-height: 19px;
    bottom: 20px;
  }

  .container-button {
    display: flex;
  }
  /*FIM DA MAIN*/

  /*COMEÇO DO STACK*/
  .container-stack {
    margin: 160px 0 0 0;
  }

  #stack h1#stack {
    font-size: 25px;
    margin: 1px;
  }

  #stack h1 span {
    margin-left: 10px;
  }

  .container-conteudo {
    position: relative;
    bottom: 80px;
    display: flex;
    gap: 50px;
  }

  .container-csharp img {
    align-items: center;
    justify-content: center;
    width: 220px;
    display: block;
    margin-left: 0px;
    padding-top: 10px;
  }

  .container-csharp,
  .container-sql,
  .container-git,
  .container-vue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
  }

  .container-sql img {
    margin-left: 0px;
  }

  .container-git img {
    margin-left: 0px;
  }

  .container-vue img {
    width: 320px;
    margin-right: 20px;
  }
  /*FIM DO STACK*/

  /*COMEÇO DO SOBRE MIM*/
  section.sobre {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobre .txt-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .img-sobre img {
    width: 290px;
    margin: 0;
  }

  .sobre .txt-sobre h2 {
    font-size: 30px;
    margin: 0;
    color: white;
  }

  .sobre .txt-sobre .container-p p {
    margin: 20px 0 0 0;
  }

  .sobre .txt-sobre .container-p {
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .btn-social {
    display: flex;
    margin: 100px 0 0 0;
  }

  .btn-social img {
    width: 115px;
    height: auto;
    transition: 0.2s;
  }
  /*FIM DO SOBRE MIM*/

  /*COMEÇO DO FORMS*/
  .formulario .interface {
    margin: 0 0 100px 0;
  }

  .interface .container-titulo .titulo {
    font-size: 30px;
  }
  /*FIM DO FORMS*/

  /*COMEÇO DO FOOTER*/

  footer .container-footer p {
    align-items: center;
    margin: 0;
  }

  .container-email {
    display: flex;
    align-items: center;
  }
  /*FIM DO FOOTER*/
}

@media screen and (min-width: 750px) and (max-width: 1279px) {
  /*TAMANHO TABLETS*/

  .btn-abrir-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    font-size: 23px;
    margin-top: 55px;
    margin-left: 0;
  }

  .button {
    margin-left: 50px;
    font-size: 19px;
    bottom: 10px;
    left: 0;
  }

  /*COMEÇO DA MAIN*/
  .container-main .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
    margin: 50px 0;
    padding: 0;
  }

  .text-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
  }

  .container-imagem {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
    width: 48vw;
  }

  .container-main h1 {
    font-size: 40px;
    line-height: 36px;
    bottom: 20px;
    width: 600px;
  }

  .container-main h2 {
    width: 750px;
    margin: 5px;
    font-size: 22px;
    line-height: 22px;
    margin-top: 30px;
  }

  .container-button {
    text-align: center;
    font-size: 25px;
    max-width: 380px;
    margin-top: 30px;
  }

  .container-button a {
    text-decoration: none;
    color: black;
    background-color: #00ff08;
  }

  /*FIM DA MAIN*/

  /*COMEÇO DO STACK*/
  .container-stack {
    margin: 160px 0 0 0;
  }

  #stack h1#stack {
    font-size: 40px;
    margin: 1px;
  }

  .container-csharp img {
    align-items: center;
    justify-content: center;
    width: 220px;
    display: block;
    margin-left: 0px;
    padding-top: 10px;
  }

  .container-csharp,
  .container-sql,
  .container-git,
  .container-vue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
  }

  .container-sql img {
    margin-left: 0px;
  }

  .container-git img {
    margin-left: 0px;
  }

  .container-vue img {
    width: 320px;
    margin-right: 20px;
  }
  /*FIM DO STACK*/

  /*COMEÇO DO SOBRE MIM*/
  section.sobre {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.sobre .flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .sobre .txt-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .img-sobre img {
    width: 390px;
    margin: 0;
  }

  .sobre .txt-sobre h2 {
    font-size: 40px;
    margin: 0;
    color: white;
  }

  .sobre .txt-sobre .container-p p {
    margin: 20px 0 0 0;
    font-size: 22px;
  }

  .sobre .txt-sobre .container-p {
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .btn-social {
    display: flex;
    margin: 100px 0 0 0;
    align-items: center;
    justify-content: center;
  }

  .btn-social img {
    width: 180px;
    height: auto;
    transition: 0.2s;
  }
  /*FIM DO SOBRE MIM*/

  /*COMEÇO DO FORMS*/
  .formulario .interface {
    margin: 0 0 100px 0;
  }

  .interface .container-titulo .titulo {
    font-size: 40px;
  }
  /*FIM DO FORMS*/

  /*COMEÇO DO FOOTER*/

  footer .container-footer p {
    align-items: center;
    margin: 0;
    font-size: 20px;
  }

  .container-email {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .footer-back-to-top {
    margin-top: 20px;
    margin: 0;
    font-size: 20px;
  }
  /*FIM DO FOOTER*/
}
