*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

/*COMEÇO DA NAV*/
html {
  scroll-behavior: smooth;
}

.nav-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  list-style-type: none;
  gap: 6vw;
  margin-top: 55px;
  margin-left: 100px;
}

.nav-menu .menu a {
  color: grey;
  text-decoration: none; 
  transition: all 0.3s ease;
}

.nav-menu .menu a:hover {
  color: #fff;
  transform: scale(1.05);
}

.button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px 50px 50px 50px;
  position: relative;
  background-color: #00FF08;
  color:black;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 19px;
  bottom: 10px;
  left: 250px;
  width: 150px;
}

.button a {
  text-decoration: none;
  background-color: #00FF08;
  color:black;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/*FIM DA NAV*/



/*COMEÇO DO MAIN*/
.container-main .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 80px 0;
  margin: 140px 0;
}

.text-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 150px;
}

.container-main h1 {
  font-size: 49px;
  color: white;
  line-height: 46px;
  margin: 0;
}

.container-main h2 {
  font-size: 18px;
  color: rgb(216, 216, 216);
  margin: 30px 0;
}

.container-button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 80px;
  background-color: #00FF08;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease;
  font-size: 19px;
  max-width: 220px;
}

.container-button a {
  text-decoration: none;
  color: black;
  background-color: #00ff08;
}

.container-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container-imagem {
  margin-right: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  padding: 20px;
  border-radius: 100%;  
}

.container-imagem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 60%;
  margin: 0;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/*FIM DO MAIN*/



/*COMEÇO DO STACK*/
.container-stack{
  margin: 180px 0 0 0;
}

#stack h1#stack {
  display: flex; 
  font-size: 42px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.0;
}

#stack h1 span {
  color: #00FF08;
  margin-left: 10px;
}
/*FIM DO STACK*/



/*COMEÇO DOS CONTAINERS DE DESENVOLVIMENTO*/
.container-conteudo {
  display: flex;
  gap: 70px;
  padding: 20px;
  margin-top: 140px;
  flex-wrap: wrap;
}

.container-csharp, .container-sql, .container-git, .container-vue {
  flex: 1;
  max-width: 400px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
  transition: .2s;
  cursor: pointer;
}

.container-csharp:hover, .container-sql:hover, .container-git:hover, .container-vue:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px #ffffff9a;
}

.container-csharp img {
  width: 100%;
  width: 220px;
  display: block;
  margin-left: 80px;
  padding-top: 10px;
}

.container-sql img {
  width: 100%;
  width: 260px;
  display: block;
  margin-left: 55px;
  margin-top: 40px;
}

.container-git img {
  width: 100%;
  width: 230px;
  display: block;
  margin-left: 70px;
  margin-top: 40px;
  padding-top: 20px;
}

.container-vue img {
  width: 100%;
  width: 350px;
  display: block;
  margin-left: 20px;
  margin-top: 80px;
  padding-bottom: 50px;
}

.container-csharp p, .container-sql p, .container-git p, .container-vue {
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
/*FIM DOS CONTAINERS DE DESENVOLVIMENTO*/



/*COMEÇO DO SOBRE MIM*/
section.sobre {
  margin-top: 250px;
  padding: 40px;
}

section.sobre .flex {
  display: flex;
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.sobre .txt-sobre h2 {
  font-size: 50px;
  line-height: 1.0;
  margin: 0 0 60px 100px;
  color: white;
}

.sobre .txt-sobre h2 span {
  color: #00FF08;
  display: block;
}

.sobre .txt-sobre .container-p p {
  margin: 0 0 20px 100px;
  color: #fff;
}

.sobre .txt-sobre .container-p {
margin-bottom: 80px;
}

.img-sobre img {
  max-width: 100%;
  width: 950px;
  border-radius: 30px;
  margin: 0 0 100px 90px;
}

.btn-social{
  display: flex;
  gap: 0px;
  margin: 60px 0 0 30px;
}

.btn-social img {
  width: 200px;
  height: auto;
  transition: .2s;
}

.btn-social img:hover {
  transform: scale(1.1);
}
/*FIM DO SOBRE MIM*/



/*COMEÇO DO FORMS*/
.formulario .interface{
  margin-top: 240px;
  margin-bottom: 150px;
}

.interface .container-titulo .titulo {
  position: relative;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  color:white;
}

.formulario .interface  span {
  color:#00FF08;
  margin-left: 10px;
}

section.formulario {
  margin: 0;
  padding: 30px 4%;
  position: relative;
}

form {
  max-width: 500px;
  border-radius: 30px;
  background: rgba(34, 34, 34, 0.986);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 1px solid rgba(34, 34, 34, 0.986);
}

form input,
textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.863);
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

textarea {
  resize: none;
  max-height: 200px;

}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

.btn-enviar input {
  width: 120px;
  background: #00ff08;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.btn-enviar input:hover{
  transform: scale(1.1);
}
/*FIM DO FORMS*/



/*COMEÇO DO RODAPÉ*/
footer {
  background-color: #000;
  color: #fff;
  padding: 70px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  text-align: center; 
  position: relative; 
  z-index: 10;
}

.footer-content {
  margin: 0 auto;
  max-width: 600px;
}

footer .container-footer p {
  margin: 0; 
  position: relative;
  top: 50px;
}

.container-email {
  padding: 5px;
  display: flex;
  position: relative;
  bottom: 30px;
}

.container-email a{
  color: white;
  text-decoration: none;
}

.container-email img{
  position: relative;
  width: 45px;
  top: 9px;
}

.footer-back-to-top {
  margin-top: 20px;
  margin: 0;
  position: relative;
  bottom: 30px;
}

.footer-back-to-top a {
  color:#00FF08;
  text-decoration: none;
  font-weight: bold;
}

.footer-content span{
  color:#00FF08;
}
/*FIM DO RODAPÉ*/




@media screen and (min-width: 360px) and (max-width: 430px){
  /*CABEÇALHO*/
  .nav-menu, button{
   display: none;
  }
  
  /*CLASSES GERAIS*/
  .flex{
    flex-direction: column;
  }


  /*PARTE DA MAIN*/
  .container-main .flex{
    flex-direction: column-reverse;
  }

  .container-imagem {
    margin: 0 520px 0 0;
    height: 50vh;
    width: 70vw;
  }

  .container-main h1 {
    font-size: 23px;
    position: relative;
    right: 130px;
    line-height: 27px;
    bottom: 20px;
  }

  .container-main h2 {
    width: 360px;
    margin: 5px;
    font-size: 14px;
    position: relative;
    right: 130px;
    line-height: 19px;
    bottom: 20px;
  }

  .container-button a {
    position: relative;
    left: 6px;
  }

  .container-button {
    display: flex;
    position: relative;
    right: 80px;
  }
  /*FIM DA MAIN*/



  /*COMEÇO DO STACK*/
  .container-stack{
    margin: 160px 0 0 0;
  }
  
  #stack h1#stack {
    font-size: 22px;
    margin: 1px;
  }
  
  #stack h1 span {
    margin-left: 10px;
  }

  .container-conteudo {
    position: relative;
    bottom: 80px;
    display: flex;
    gap: 50px;
  }

  .container-csharp img {
    margin-left: 40px;
  }
  
  .container-sql img {
    margin-left: 23px;
  }
  
  .container-git img {
    margin-left: 37px;
  }
  
  .container-vue img {
    width: 320px;
    position: relative;
    right: 30px;
  }
  /*FIM DO STACK*/



  /*COMEÇO DO SOBRE MIM*/
  section.sobre {
    margin: 0;
  }
 
  .sobre .txt-sobre {
    display: flex;
    flex-direction: column;
    margin: 0 90px 0 0;
    position: relative;
    top: -50px;
  }

  .img-sobre img {
    position: relative;
    right: 80px;
    max-width: 100%;
    width: 260px;
    border-radius: 30px;
  }
  
  .sobre .txt-sobre h2 {
    font-size: 30px;
    margin: 0 0 40px 100px;
    color: white;
  }
  
  .sobre .txt-sobre .container-p p {
    position: relative;
    top: -20px;
    width: 340px;
    margin: 0 0 20px 100px;
  }

  .btn-social{
    display: flex;
    position: relative;
    left: 60px;
  }
  
  .btn-social img {
    width: 115px;
    height: auto;
    transition: .2s;
  }
  /*FIM DO SOBRE MIM*/
 


  /*COMEÇO DO FORMS*/
  .formulario .interface{
    margin: 0 0 100px 0;
  }

  .interface .container-titulo .titulo{
    font-size: 30px;
  }
  /*FIM DO FORMS*/



  /*COMEÇO DO FOOTER*/
  footer .container-footer p {
    width: 270px;
    margin: 0; 
    position: relative;
    right: 20px;
    top: 80px;
  }
  
  .container-email {
    padding: 5px;
    display: flex;
    position: relative;
    bottom: 30px;
  }
  /*FIM DO FOOTER*/
}



@media screen and (min-width: 410px) and (max-width: 896px) {

   /*TAMANHO PARA IPHONES*/ 
   
  .nav-menu, button{
    display: none;
   }
   
   /*CLASSES GERAIS*/
   .flex{
     flex-direction: column;
   }
 
 
   /*PARTE DA MAIN*/
   .container-main .flex{
     flex-direction: column-reverse;
   }
 
   .container-imagem {
     margin: 0 480px 0 0;
     height: 50vh;
     width: 70vw;
   }
 
   .container-main h1 {
     font-size: 23px;
     position: relative;
     right: 110px;
     line-height: 27px;
     bottom: 20px;
   }
 
   .container-main h2 {
     width: 360px;
     margin: 5px;
     font-size: 14px;
     position: relative;
     right: 110px;
     line-height: 19px;
     bottom: 20px;
   }
 
   .container-button a {
     position: relative;
     left: 7px;
   }
 
   .container-button {
     display: flex;
     position: relative;
     right: 50px;
   }
   /*FIM DA MAIN*/

     /*COMEÇO DO STACK*/
  .container-stack{
    margin: 160px 0 0 0;
  }
  
  #stack h1#stack {
    font-size: 22px;
    margin: 1px;
  }
  
  #stack h1 span {
    margin-left: 10px;
  }

  .container-conteudo {
    position: relative;
    bottom: 80px;
    display: flex;
    gap: 50px;
  }

  .container-csharp img {
    margin-left: 60px;
  }
  
  .container-sql img {
    margin-left: 30px;
  }
  
  .container-git img {
    margin-left: 60px;
  }
  
  .container-vue img {
    width: 320px;
    position: relative;
    right: 5px;
  }
  /*FIM DO STACK*/



  /*COMEÇO DO SOBRE MIM*/
  section.sobre {
    margin: 0;
  }
 
  .sobre .txt-sobre {
    display: flex;
    flex-direction: column;
    margin: 0 90px 0 0;
    position: relative;
    top: -50px;
  }

  .img-sobre img {
    position: relative;
    right: 50px;
    max-width: 100%;
    width: 260px;
    border-radius: 30px;
  }
  
  .sobre .txt-sobre h2 {
    font-size: 30px;
    margin: 0 0 40px 100px;
    color: white;
  }
  
  .sobre .txt-sobre .container-p p {
    position: relative;
    top: -20px;
    width: 340px;
    margin: 0 0 20px 100px;
  }

  .btn-social{
    display: flex;
    position: relative;
    left: 60px;
  }
  
  .btn-social img {
    width: 115px;
    height: auto;
    transition: .2s;
  }
  /*FIM DO SOBRE MIM*/
 


  /*COMEÇO DO FORMS*/
  .formulario .interface{
    margin: 0 0 100px 0;
  }

  .interface .container-titulo .titulo{
    font-size: 30px;
  }
  /*FIM DO FORMS*/



  /*COMEÇO DO FOOTER*/
  footer .container-footer p {
    width: 270px;
    margin: 0; 
    position: relative;
    left: 10px;
    top: 80px;
  }
  
  .container-email {
    padding: 5px;
    display: flex;
    position: relative;
    bottom: 30px;
    left: 20px;
  }
  /*FIM DO FOOTER*/


  @media screen and (min-width: 750px) and (max-width: 885px){
 /*TAMANHO TABLETS*/

 .nav-menu, button{
  display: flex;
  font-size: 27px;
  position: relative;
  right: 100px;
 }

 .button {
  position: relative;
  font-size: 25px;
  left: 150px;
  width: 150px;
}

 .container-imagem {
  margin: 0;
  height: 45vh;
  width: 55vw;
}

.container-main h1 {
  font-size: 40px;
  position: relative;
  left: 10px;
  line-height: 37px;
}

.container-main h2 {
  width: 660px;
  margin: 5px;
  font-size: 25px;
  position: relative;
  left: 10px;
  line-height: 24px;
  bottom: 20px;
}

.container-button {
  font-size: 27px;
  max-width: 300px;
  position: relative;
  left: 140px;
}

/*FIM DA MAIN*/



/*COMEÇO DO STACK*/
.container-stack{
 margin: 160px 0 0 0;
}

#stack h1#stack {
 font-size: 37px;
 margin: 1px;
}

.container-conteudo {
 position: relative;
 bottom: 80px;
 display: flex;
 gap: 50px;
}

.container-csharp img {
 margin-left: 80px;
}

.container-sql img {
 margin-left: 50px;
}

.container-git img {
 margin-left: 80px;
}

.container-vue img {
 width: 330px;
 position: relative;
 left: 10px;
}

.container-csharp, .container-sql, .container-git, .container-vue {
  position: relative;
  left: 32px;
}
/*FIM DO STACK*/



/*COMEÇO DO SOBRE MIM*/
section.sobre {
 margin: 0;
}

.sobre .txt-sobre {
 display: flex;
 flex-direction: column;
 margin: 0 60px 0 0;
 position: relative;
 top: -50px;
}

.img-sobre img {
 position: relative;
 right: 50px;
 max-width: 100%;
 width: 400px;
 border-radius: 30px;
}

.sobre .txt-sobre h2 {
 font-size: 50px;
 margin: 0 0 40px 190px;
 color: white;
}

.sobre .txt-sobre .container-p p {
 position: relative;
 font-size: 25px;
 top: -20px;
 width: 700px;
 margin: 0 0 20px 100px;
}

.btn-social{
 display: flex;
 position: relative;
 left: 90px;
}

.btn-social img {
 width: 210px;
 height: auto;
 transition: .2s;
}
/*FIM DO SOBRE MIM*/



/*COMEÇO DO FORMS*/
.formulario .interface{
 margin: 0 0 100px 0;
}

.interface .container-titulo .titulo{
 font-size: 40px;
}
/*FIM DO FORMS*/



/*COMEÇO DO FOOTER*/
footer .container-footer p {
 width: 300px;
 margin: 0; 
 position: relative;
 left: 150px;
 top: 80px;
}

.container-email {
 padding: 5px;
 display: flex;
 position: relative;
 bottom: 30px;
 left: 290px;
}
/*FIM DO FOOTER*/
}

}













